.btn-add-campaign {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

.btn-add-campaign:hover {
  background-color: #333;
}

.btn-submit-campaign-2 {
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.btn-submit-campaign-2:hover {
  background-color: #333;
}

.campaign-container {
  width: 80%; /* Reduza a largura máxima conforme necessário */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 80px;
}

.manage-form-campaign {
  display: flex;
  flex-direction: column;
}

.manage-form-campaign label {
  margin-top: 10px;
}

.manage-form-campaign input,
.manage-form-campaign select,
.manage-form-campaign textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.manage-form-campaign {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.campaign-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.campaign-table th, .campaign-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.campaign-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.checkbox-active {
  margin-left: 10px;
  transform: scale(1.5);
}


