/* Estilos para o container principal */
.user-helpdesk-container {
  max-width: 800px; /* Reduza a largura máxima conforme necessário */
  margin: 150px auto 50px; /* Ajuste para a mesma margem */
  padding: 20px;
  border: 1px solid #453f3c; /* Mesma cor e estilo de borda */
  border-radius: 10px; /* Borda arredondada */
  background-color: #f9f9f9; /* Mesmo fundo branco */
}

/* Estilos para a tabela */
.helpdesk-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.helpdesk-table th,
.helpdesk-table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 0.9rem; /* Reduza o tamanho da fonte */
}

.helpdesk-table th {
  background-color: #f2f2f2;
}
